@import url(//db.onlinewebfonts.com/c/395410b1fd4cca8cfb17bd78a9c34889?family=Helvetica+Monospaced);

* {
  box-sizing: border-box;
}

:root {
  --font: Helvetica Monospaced;
}

body {
  margin: 0;
  padding: 0 10px;
  font-family: var(--font);
  font-size: 12px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header-section */

h1 {
  display: inline-block;
}


.top-heart::after {
  font-size: 20px;
  content: '💗';
  animation: hearts 3s infinite;
}

@keyframes hearts {
  16.666% {
      content: '🧡';
  }

  33.333% {
      content: '💛';
  }

  50% {
      content: '💚';
  }

  66.666% {
      content: '💙';
  }

  83.333% {
      content: '💜';
  }
}


/* Insertion of new Thought */

.new-thought-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.new-thought-form textarea {
  display: block;
  resize: none;
  font-family: var(--font);
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  border-color: #e0dfdf;
}

/* Thought cards (styling also used for the New-Thought-section) */

.thought-container {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 30px;
  box-shadow: 6px 6px;
  width: 90%;
}

.button-span-container{
  display: flex;
  align-items: center;
}

.span-container{
  color: lightgrey;
  font-weight: normal;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 6px;
}

.new {
  background-color: #F2F0F0;
}


.thought-button {
  background-color: #FFADAD;
  border-color: transparent;
  border-radius: 50px;
  padding: 10px;
  width: fit-content;
  font-family: var(--font);
  font-size: 12px;
  font-weight: bold;
  color: black;
  transition: all .2s ease-in-out;
}

.thought-button:hover {
  transform: scale(1.1);
}

/* conditionally used background-color for thoughts with 0 likes */
.grey {
  background-color: #F2F0F0;
}


.footer {
  text-align: center;
}



