@import url(//db.onlinewebfonts.com/c/395410b1fd4cca8cfb17bd78a9c34889?family=Helvetica+Monospaced);

:root {
  --font: Helvetica Monospaced;
}

body {
  margin: 0 10px;
  font-family: var(--font);
  font-size: 12px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.thought-container {
  border: 1px solid black;
  padding: 15px 0 15px 15px;
  margin-bottom: 30px;
  box-shadow: 6px 6px;
  width: 85%;
}

.new {
  background-color: #F2F0F0;
}

.new-thought-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.new-thought-form textarea {
  resize: none;
  font-family: var(--font);
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px;
  border-color: #e0dfdf;
}

.thought-button {
  background-color: #FFADAD;
  border-color: transparent;
  border-radius: 50px;
  padding: 10px;
  width: fit-content;
  font-family: var(--font);
  font-size: 12px;
  font-weight: bold;
  color: black;
}




